// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');


@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import '~bootstrap/scss/bootstrap';

@import '~admin-lte/build/scss/AdminLTE';
